.email-container {
    background-color: #B49A67;
    float: left;
    height: 40vh;
    width: 30vw;
}

.phone-container {
    background-color: #B49A67;
    float: right;
    height: 40vh;
    width: 30vw;
}
